<div class="subject-info">
  <p>投稿者：<%= @user.nickname %></p>
</div>

<div class="posting">
  <div class="poston">
    <%= link_to "教材投稿", new_subject_teaching_material_path(@subject), class: "posti" %>
    <div class="teaching_material_title">
      <% @teaching_materials.each_with_index do |teaching_material, index| %>
        <%= "#{index + 1}. " %>
        <%= link_to teaching_material.title, rails_blob_url(teaching_material.files.first), target: "_blank" %>
        <% if teaching_material.files.second %>
          <%= link_to "(PDF)", rails_blob_url(teaching_material.files.second), target: "_blank" %>
        <% end %>
        <% if teaching_material.user_id == current_user.id %>
          <%= link_to "編集", edit_subject_teaching_material_path(@subject, teaching_material), class: "edit-button" %>
          <%= link_to "削除", subject_teaching_material_path(@subject, teaching_material), data: { turbo_method: :delete }, class: "delete-button", 'data-confirm': '本当に削除していいですか？' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="poston">
    <%= link_to "考査問題投稿", "#", class: "posti" %>
  </div>
</div>