<div class="subject-info">
  <p>投稿者：<%= @user.nickname %></p>
</div>

<div class="posting">

  <div class="poston">
    <% if current_user.id == @subject.user_id %>
      <%= link_to "教材投稿", new_subject_teaching_material_path(@subject), class: "posti" %>
    <% end %>
    <div class="teaching_material_title">
      <% @teaching_materials.each_with_index do |teaching_material, index| %>
        <%= "#{index + 1}. " %>
        <%= link_to teaching_material.title, rails_blob_url(teaching_material.files.first), target: "_blank" %>
        <% if teaching_material.files.second %>
          <%= link_to "(PDF)", rails_blob_url(teaching_material.files.second), target: "_blank" %>
        <% end %>
        <% if teaching_material.user_id == current_user.id %>
          <%= link_to "編集", edit_subject_teaching_material_path(@subject, teaching_material), class: "edit-button" %>
          <%= link_to "削除", subject_teaching_material_path(@subject, teaching_material), data: { turbo_method: :delete }, class: "delete-button", 'data-confirm': '本当に削除していいですか？' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="poston">
    <% if current_user.id == @subject.user_id %>
      <%= link_to "問題投稿", new_subject_exam_path(@subject), class: "posti" %>
    <% end %>
    <div class="teaching_material_title">
      <% @exams.each_with_index do |exam, index| %>
        <%= "#{index + 1}. " %>
        <%= link_to exam.title, rails_blob_url(exam.files.first), target: "_blank" %>
        <% if exam.files.second %>
          <%= link_to "(PDF)", rails_blob_url(exam.files.second), target: "_blank" %>
        <% end %>
        <% if exam.user_id == current_user.id %>
          <%= link_to "編集", edit_subject_exam_path(@subject, exam), class: "edit-button" %>
          <%= link_to "削除", subject_exam_path(@subject, exam), data: { turbo_method: :delete }, class: "delete-button", 'data-confirm': '本当に削除していいですか？' %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>

<%= form_with model: [@subject, @question], id: "question-form" do |f| %>
  <%= f.text_area :question, placeholder: "質問を入力", rows: "5", class: "question_form" %><br>
  <%= f.submit "質問する", class: "subject_question" %>
<% end %>
<div class="questions" id="questions">
  <h4>＜質問一覧＞</h4><br>
  <% @questions.each do |question| %>
    <p class="user-info">
      <%= question.user.nickname %>：<%= question.question %>
      <% if current_user == question.user %>
        <%= link_to '削除', subject_question_path(@subject, question), data: { turbo_method: :delete }, class: 'question-delete-link', 'data-confirm': '本当に削除していいですか？' %>
      <% end %>
    </p><br>
  <% end %>
</div>