<div class="subject-info">
  <p>投稿者：<%= @user.nickname %></p>
</div>

<div class="posting">
  <div class="poston">
    <%= link_to "教材投稿", new_subject_teaching_material_path(@subject), class: "posti" %>
    <div class="teaching_material_title">
      <% @teaching_materials.each_with_index do |teaching_material, index| %>
        <%= "#{index + 1}. " %><%= link_to teaching_material.title, "#" %><br>
      <% end %>
    </div>
  </div>
  <div class="poston">
    <%= link_to "考査問題投稿", "#", class: "posti" %>
  </div>
</div>