<!DOCTYPE html>
<html>
  <head>
    <title>Agri40237</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">AGRI MASTER</a></h1>
        <div class="user_nav grid-6">
          <a class="post" href="#">科目登録</a>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright AGRI MASTER 2024.
      </p>
    </footer>
  </body>
</html>
